*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

#card-container{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.card{
    border: 1px  color black;
    background-color: yellow;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}